{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>

<div class="post-content">
  {{ .Content }}
</div>

{{ if site.Data.projects }}
  {{ range site.Data.projects.projects }}
    <article class="post-entry">
      <header class="entry-header">
        <h2 class="entry-hint-parent">
          {{- .title }}
        </h2>
      </header>
      <div class="entry-content">
        <p>{{ .description }}</p>
      </div>
      <a class="entry-link" aria-label="post link to {{ .title | plainify }}" href="{{ .url }}" target="_blank" rel="noopener noreferrer"></a>
    </article>
  {{ end }}
{{ end }}

{{- end }}