{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>

<div class="post-content">
  {{ .Content }}
</div>

{{ $pages := where site.RegularPages "Type" "in" "projects" }}
{{ range $pages }}
<article class="post-entry">
  <header class="entry-header">
    <h2 class="entry-hint-parent">
      {{- .Title }}
    </h2>
  </header>
  <div class="entry-content">
    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
  </div>
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{ end }}

{{- end }}